@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-bottom: 1rem;
}

html {
  font-size: 16px;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

body {
  font-size: 30px;
  font-family: "Sawarabi Gothic", sans-serif;
}

h1,
h2,
h3 {
  font-family: "New Tegomin", serif;
}

.inline-block {
  display: inline-block;
  width: 24%;
  vertical-align: 60px;
}

div {
  display: inline-block;
  vertical-align: top;
}

.inline-block > a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
}

/*文字の大きさ*/
h1 {
  font-size: 60px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  line-height: 1.6rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}
