@charset "utf-8";
body{
      background-color: lightblue
}


#font1 {
    color: black;
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
}

#font2 {
    color: #2230;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: right;
    font-style: italic;
}

#layout1 {
    color:black ;
    font-size: 30px;
    text-align: center;
    line-height: 2em;
}

#layout2 {
    color: black;
    text-align: right;
    line-height: 160%;
}
