@charset "utf-8";

/*全体設定*/
body{
    background-color: gold;
    text-align: center;
    font-family: "メイリオ";
}

.red{
    color: red;
    font-size: 80px;
    font-weight: 800;
}
.blue{
    color: blue;
    font-size: 80px;
}
.green{
    color: green;
}
